/* 顶部 */
.top{
    height: 35px;
    background-color: #cb9864;
}
.top a{
    display: block;
    font-size: 12px;
    color: #000000;
    line-height: 35px;
    text-align: center;
}
/* 顶部导航 */
.topnav{
    height: 118px;
}
.topnav hr{
    width: 1340px;
    border: 1px solid #efeded;
    margin-top: 20px;
}
.topnav-left{
    float: left;
    margin-left: 21px;
    margin-top: 19px;
}
.topnav-left a{
    color: #999999;
}
.topnav-left .dian{
    position: relative;
    margin-left: 30px;
}
.topnav-left .dian:after{
    content: "";
    position: absolute;
    top: 5px;
    left: -18px;
    width: 4px;
    height: 4px;
    background-color: #999999;
    border-radius: 50%;
}
.topnav img{
    width: 283px;
    margin-top: 42px;
    margin-left: 328px;
    margin-right: 145px;
}
.topnav-right{
    float: right;
    margin-top: 19px;
}
.topnav-right a{
    color: #000000;
}
.topnav-right .dian{
    position: relative;
    margin: 0px 35px;
}
.topnav-right .dian:after{
    content: "";
    position: absolute;
    top: 5px;
    left: -21px;
    width: 4px;
    height: 4px;
    background-color: #000000;
    border-radius: 50%;
}
.topnav-right .dian:before{
    content: "";
    position: absolute;
    top: 5px;
    right: -20px;
    width: 4px;
    height: 4px;
    background-color: #000000;
    border-radius: 50%;
}
/* 搜索导航 */
.searchnav{
    position: relative;
    height: 54px;
}
.searchnav-tab{
    float: left;
    text-align: center;
    margin-right: 283px;
}
.searchnav-tab a{
    float: left;
    color: #000000;
    margin-right: 55px;
    line-height: 50px;
    text-align: center;
}
.searchnav a:first-child{
    /* position: relative; */
    margin-left: 12px;
}
.searchnav a:last-child{
    margin-right: 0px;
}
.searchnav-search{
    float: left;
    width: 313px;
    height: 39px;
    border: 1px solid #000000;
    text-align: center;
    margin-top: 6px;
}
.searchnav-search input{
    float: left;
    width: 263px;
    height: 37px;
    padding: 0px 5px;
    border: none;
    color: #000000;
}
.searchnav-search .searchnav-search-reading{
    float: right;
    width: 40px;
    height: 40px;
    background-color: #000000;
}
.searchnav-search i{
    font-size: 20px;
    color: #ffffff;
    line-height: 40px;
}
/* 鼠标移入效果 */
.searchnav .mylips{
    display:none;
    position: absolute;
    bottom: -509px;
    left: -310px;
    width: 1920px;
    height: 507px;
    background-color: #ffffff;
    border-top: 1px solid #000000;
    z-index: 2;
}
.mylips .mylips-text dt a{
    margin-left: 0;
}
.cai:hover~.mylips{
    display: block;
}
.mylips:hover{
    display: block;
}
.cai:hover{
    color: #d9b58f;
}
.mylips-text{
    height: 243px;
    padding: 42px 0px;
}
.mylips-text dl:first-child{
    margin-left: 332px;
}
.mylips-text dl{
    float: left;
    text-align: left;
    margin-right: 210px;
}
.mylips-text dl dt{
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}
.mylips-text dl dd{
    line-height: 22px;
    color: #000000;
}
.mylips-show{
    height: 180px;
    padding: 30px 0px;
    background-color: #f2f2f2;
    box-sizing: border-box;
}
.mylips-show-one{
    position: relative;
    float: left;
    width: 335px;
    margin-left: 332px;
    margin-right: 295px;
}
.mylips-show-one img,
.mylips-show-two img{
    float: left;
    margin-right: 20px;
}
.mylips-show-one h4,
.mylips-show-two h4{
    float: left;
    margin-top: 27px;
    margin-bottom: 10px;
}
.mylips-show-one p,
.mylips-show-two p{
    float: left;
    margin-bottom: 30px;
}
.mylips-show-one a,
.mylips-show-two a{
    float: left;
    line-height: 12px;
    text-decoration: underline;
}
.mylips-show-two{
    position: relative;
    float: left;
    width: 335px;
}
.new-product{
    position: absolute;
    top: 0;
    left: 0;
    width: 54px;
    height: 29px;
    background-color: #000000;
    color: #ffffff;
    font-size: 12px;
    line-height: 29px;
    text-align: center;
}
/* 轮播图 */
.carousel{
    position: relative;
    height: 642px;
    /* padding-bottom: 106; */
    box-sizing: border-box;
    background-color: #f2f2f2;
}
.carousel img{
    width: 1900px;
}
.carousel .left{
    position: absolute;
    top: 260px;
    left: 340px;
    font-size: 20px;
    color: #4e4e4e;
    width: 40px;
    height: 64px;
    background-color: #fff;
    line-height: 64px;
    text-align: center;
}
.carousel .right{
    position: absolute;
    top: 260px;
    right: 340px;
    font-size: 20px;
    color: #4e4e4e;
    width: 40px;
    height: 64px;
    background-color: #fff;
    line-height: 64px;
    text-align: center;
}
.carousel  ul{
    text-align: center;
    height: 10px;
    margin-left: 950px;
    margin-top: 20px;
}
.carousel  ul li{
    float: left;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 0px 5px;
    background-color: #919191;
    text-align: center;
}
/* 明星产品 */
.star{
    height: 760px;
    background-color: #ffffff;
    text-align: center;
}
.star-title{
    margin-bottom: 40px;
}
.star-title h4{
    font-size: 12px;
    color: #000000;
    margin-top: 63px;
    margin-bottom: 16px;
    font-weight: 800;
}
.star-title h2{
    font-size: 24px;
    color: #000000;
    margin-bottom: 40px;
}
.star-title-tab{
    width: 850px;
    height: 20px;
    border-bottom: 1px solid #e5e5e5;
    margin: auto;
}
.star-title-tab a{
    display: inline-block;
    width: 92px;
    height: 20px;
    text-align: center;
} 
.star-title-tab a:first-child{
    position: relative;
    border-bottom: 2px solid #000;
}
.star-title-tab a:first-child:after{
    content: "";
    position: absolute;
    left: 38px;
    bottom: -18px;
    width: 0;
    height: 0;
    border-top:  8px solid #000;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;

}
.star-content .cosmetics{
    float: left;
    width: 487px;
    height: 470px;
}
.star-content-right{
    float: left;
    width: 773px;
    height: 470px;
    margin-left: 18px;
}
.star-content-right a{
    float: left;
    width: 256px;
    height: 470px;
    text-align: center;
    /* margin: 0px auto; */
}
.star-content-right a img:first-child{
    height: 256px;
    margin-top: 10px;
}
.color-lump{
    margin-bottom: 30px;
}
.star-content-right h2{
    /* float: left; */
    width: 220px;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 9px;
}
.star-content-right p{
      margin-bottom: 8px;
}
.star-content-right span{
    display: block;
    color: #999999;
    margin-bottom: 14px;
}
.star-content-right-footer{
    width: 140px;
    height: 25px;
    margin-left: 46px;
}
.five-star{
    float: left;
    height: 25px;
    width: 82px;
    border-right: 1px solid #dadada;
}
.five-star i{
    font-size: 12px;
    color: #c9c9c9;
    line-height: 25px;
}
.star-content-right del{
    float: left;
    font-weight: 900;
    margin-left: 20px;
    line-height: 25px;
}
/* 搜索发现 */
.find{
    height: 755px;
    background-color: #f2f2f2;
    text-align: center;
}
.find-title{
    padding-top: 63px;
    margin-bottom: 40px;
    box-sizing: border-box;
}
.find-title h4{
    font-size: 12px;
    color: #000000;
    /* margin-top: 63px; */
    margin-bottom: 16px;
    font-weight: 800;
}
.find-title h2{
    font-size: 24px;
    color: #000000;
    margin-bottom: 40px;
}
.find-content a{
    float: left;
    width: 305px;
    height: 505px;
    background-color: #ffffff;
    text-align: left;
    margin-right: 20px;
}
.find-content a h2{
    margin-left: 40px;
    margin-top: 42px;
    font-size: 20px;
    color: #000000;
    font-weight: 900;
}
.find-content a p{
    width: 222px;
    margin-left: 40px;
    color: #999999;
    font-size: 12px;
    margin-top: 26px;
    margin-bottom: 66px;
    line-height: 20px;
}
.find-content a del{
    font-size: 12px;
    color: #000000;
    margin-left: 40px;
    text-decoration: underline;
}
.find-content a:last-child{
    margin-right: 0px;
}
/* 皇后精华大图 */
.ad img{
    width: 1900px;
}
/* 私人订制 */
.make{
    height: 603px;
    background-color: #f2f2f2;
    text-align: center;
}
.make-title{
    padding-top: 63px;
    margin-bottom: 40px;
    box-sizing: border-box;
}
.make-title h2{
    font-size: 24px;
    color: #000000;
    margin-bottom: 40px;
}
.make-title h4{
    font-size: 12px;
    color: #000000;
    /* margin-top: 63px; */
    margin-bottom: 16px;
    font-weight: 800;
}
.make-content{
    height: 387px;
    text-align: left;
}
.make-content-left{
    float: left;
    width: 630px;
    background-color: #ffffff;
}
.make-content-left a{
    float: left;
}
.make-content-left-text{
    float: left;
    width: 305px;
    padding: 0px 40px;
    box-sizing: border-box;
}
.make-content-left-text h2{
    margin-top: 104px;
    font-size: 15px;
    font-weight: 900;
    color: #000000;
    margin-bottom: 8px;

}
.make-content-left-text h3{
    font-size: 20px;
    color: #000000; 
    margin-bottom: 26px; 

}
.make-content-left-text p{
   line-height: 20px;
   color: #000000;
   margin-bottom: 65px;
}
.make-content-left-text a{
    text-decoration: underline;
}
.make-content .make-content-left:first-child{
    margin-right: 20px;
}
/* 寻找你的妆彩灵感 */
.ins{
   height: 795px;
   padding-top: 78px;
   box-sizing: border-box; 
   text-align: center;
   background-color: #f2f2f2;
}
.ins-title{
    height: 87px;
}
.ins-title h4{
    font-size: 12px;
    color: #000000;
    margin-bottom: 16px;
    font-weight: 800;
}
.ins-title h2{
    font-size: 24px;
    color: #000000;
    margin-bottom: 34px;
}
.ins-content{
    height: 630px;
}
.ins-content-one{
    float: left;
    width: 413px;
    height: 630px;
    background-color: #ffffff;
    margin-right: 20px;
}
.ins-content-one:last-child{
    margin-right: 0px;
}
.ins-content-one-text{
    height: 277px;
    padding: 42px 50px;
}
.ins-content-one-text .title-one{
    display: block;
    margin-bottom: 20px;
}
.ins-content-one-text .title-two{
    display: block;
    font-size: 20px;
    color: #000000;
    margin-bottom: 23px;
}
.ins-content-one-text p{
    font-size: 14px;
    color: #a7a7a7;
    margin-bottom: 34px;
}
.ins-content-one-text a:hover{
    text-decoration: underline;
}
/* 视频中心 */
.video{
    height: 734px;
    background-color: #f2f2f2;
    padding-top: 78px;
    box-sizing: border-box;
}
.video-title h4{
    font-size: 12px;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
    font-weight: 800;
} 
.video-title h2{
    font-size: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 34px;
}
.video-content{
    height: 469px;
    background-color: #ffffff;
}
.video-content img{
    float: left;
}
.video-content-text{
    float: left;
    width: 500px;
    padding: 70px 58px 0px 58px;
    box-sizing: border-box;
}
.video-content-text h2{
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 28px;
}
.video-content-text p{
    color: #bfbfbf;
    margin-bottom: 58px;
}
.video-content-text a{
    text-align: left;
    text-decoration: underline;
}
.video-content-text h3{
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    margin-top: 53px;
    margin-bottom: 21px;
}
.video-content-text .click{
    display: block;
    color: #bfbfbf;
    margin-top: 26px;
    text-decoration: none;
}
/* 承诺 */
.promise{
    height: 191px;
    background-color: #000000;
    text-align: center;
    overflow: hidden;
}
.promise-one{
    float: left;
    width: 320px;
    height: 110px;
    border-right: 1px solid #575757;
    color: #ffffff;
    margin-top: 40px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}
.promise-one i{
    font-size: 36px;
}
.promise-one p{
    margin-top: 16px;
    line-height: 17px;
}
/* 服务 */
.server{
    height: 287px;
    background-color: #ffffff;
    padding-top: 36px;
    box-sizing: border-box;
}
.server-other{
    float: left;
    padding-left: 60px;
}
.server-other dl{
    float: left;
    margin-right: 160px;
}
.server-other dl dt{
    font-size: 14px;
    margin-bottom: 20px;
}
.server-other dl dd{
    font-size: 14px;
    line-height: 31px;
}
.server-other dl dd a{
    color: #999999;
}
.server-art{
    float: left;
    width: 226px;
}
.server-art p{
    font-size: 14px;
    line-height: 20px;
}
.server-art-input{
    width: 226px;
    height: 38px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 38px;
}
.server-art-input input{
    float: left;
    width: 186px;
    height: 36px;
    border: none;
}
.server-art-input button{
    float: left;
    width: 38px;
    height: 38px;
    background-color: #000000;
    border: none;
    color: #ffffff;
}
.server-art i{
    display: inline-block;
    font-size: 24px;
    color: #000;
    margin-top: 16px;
    margin-right: 20px;
    margin-bottom: 38px;
}
/* 底部logo */
.logo{
    height: 172px;
    padding: 46px 0px;
    box-sizing: border-box;
    text-align: center;
}
.logo img{
    height: 80px;
}
/* 底部 */
.footer{
    height: 145px;
    padding-top: 40px;
    background-color: #f2f2f2;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.footer-top{
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 17px;
}
.footer-top img{
    margin-left: 20px;
}
.footer-top a:hover{
    text-decoration: underline;
}
.footer-bottom a{
    margin-right: 40px;
    text-decoration: underline;
}